$brand: #409EFF;
$brand-hover: #66b1ff;

$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$primary: #909399;
$regular: #606266;
$secondary: #909399;
$placeholder: #C0C4CC;

$base-border: #DCDFE6;
$light-border: #E4E7ED;
$lighter-border: #EBEEF5;
$extra-light-border: #F2F6FC;
$yellow: #FFDC0A;

$maincol: #000;
$mobile: "(max-width: 960px)";
$desktop: "(min-width: 960px)";
$imgPath: "assets/images/";
